body,html 
    font-family: 'G', sans-serif
    font-size: 14px
    letter-spacing: 0.04em
    color: #e0dee5
    line-height: 1.5
    -webkit-user-select: none
    user-select: none
    font-variation-settings: "wght" 0
    @media (min-width: 640px)
        font-size: 22px

img
    pointer-events: none
    -webkit-user-drag: none

@media screen and (max-width: 768px) and (orientation: portrait)
  html
    overflow: hidden
  body
    width: 100vh
    height: 100vw
    transform-origin: top left
    transform: rotate(90deg) translateY(-100%)
    overflow: hidden